<div class="row">
  <div class="col-md-5 mx-auto">

    {{!-- Passport Error --}}
    {{#if error}}
      <div class="alert danger-bg light-shade text-center alert-dismissible fade show" role="alert">
        {{error}}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    {{/if}}

    {{!-- Server side created errors --}}
    {{#each errors}}
    <div class="alert danger-bg light-shade text-center alert-dismissible fade show" role="alert">
      {{text}}
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    {{else}}

    {{/each}}
  </div>
</div>