<nav class="navbar navbar-expand-sm navbar-dark bg-primary mb-3">
  <div class="container">
    <a class="navbar-brand" href="/">Garage Buddy</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="/about">About</a>
      </div>
    {{#if user}}
      <div class="navbar-nav ml-auto">
        <div class="nav-item dropdown">
          <a href="#" class="dropdown-toggle nav-link" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
            Car Projects
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="/projects">View Projects</a>
            <a class="dropdown-item" href="/projects/add">Add Project</a>
          </div>
        </div>
        <div class="navbar-nav">
          <a class="nav-item nav-link" href="/users/logout">Logout</a>
        </div>
      </div>
    {{else}}
      <div class="navbar-nav ml-auto">
        <a class="nav-item nav-link" href="/users/login">Login</a>
      </div>
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="/users/register">Register</a>
      </div>
    {{/if}}
      
    </div>
  </div>
</nav>