<div class="jumbotron text-center">
  <h1 class="display-3">Welcome to Garage Buddy</h1>
  <p class="lead">You can use this to plan ideas for your current or upcoming cars or project cars.'</p>
  {{#if user}}
    <a href="/projects/add" class="btn btn-dark btn-lg">Add a New Car or Project</a>
  {{/if}}
</div>
