<div class="jumbotron main-color-bg text-center">
  <h1 class="display-3 dark-shade">Welcome to Garage Buddy</h1>
  <p class="lead dark-shade">You can use this to plan ideas for your current or upcoming cars or project cars.</p>
  {{#if user}}
    <button href="/projects/add" class="btn dark-accent-bg light-shade">Add a new Project</button>
  {{/if}}
</div>
