<div class="row">
  <div class="col-md-6 mx-auto">
    <div class="card card-body main-color-bg dark-shade">
      <h3 class="text-center">Account Register</h3>
      <form action="/users/register" method="post">
        <div class="form-group">
          <label for="name">Name<sup>*</sup></label>
          <input type="name" class="form-control" name="name" value="{{name}}">
        </div>
        <div class="form-group">
          <label for="email">Email<sup>*</sup></label>
          <input type="email" class="form-control" name="email" value="{{email}}">
        </div>
        <div class="form-group">
          <label for="password">Password<sup class="tooltip-hover" data-toggle="tooltip" title="Minimum six characters, at least one uppercase letter, one lowercase letter, one number, and one special character.">(?)</sup></label>
          <input type="password" class="form-control" name="password">
        </div>
        <div class="form-group">
          <label for="password2">Confirm Password<sup>*</sup></label>
          <input type="password" class="form-control" name="password2">
        </div>
        <button type="submit" class="btn btn-success"> Submit</button>
      </form>
    </div>
  </div>
</div>